
<html>	
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="phone.css" >	  

</head>

<body>
{{ include('header.twig') }}
<div class='ptitle' ><b>Inspect a Group of Rooms</b></div>
<form name='inspectme' action='inspectgroup.php' id='inspectme' method='GET'>

<select name='group_id'>
	<option value=''></option>
	{% autoescape false %}
	{{ goptions }}
	{% endautoescape %}
</select><br><br>
<input type='hidden' name='status' value='new'/> 
<table><tr><td>
<button type='submit' form='inspectme' value='Submit'><b>Inspect</b></button>
</td></tr></table>
</form>
{% if err is not empty %}
<p><b>{{ err }}</b></p>
{% endif %}

</body>
</html>
