<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ title }}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="phone.css" >	  

	</head>

<body>
{{ include('header.twig') }}
<div class='box'>
	<p><b>SFU Safety Plan & Inspection DB</b></p>
	<p><u>Lookup:</u> Displays Site Safety Plan status for specific rooms. Displays inspection record, if any, and links to a new inspection report.</p>
	<p><u>Manage:</u> Utilities for listing inspection reports and room status. Filter by PI/Supervisor or Faculty. </p>
	<p><u>Safety Plans:</u> View or enter data & links for Site Safety Plans.</p>
	<p><u>Admin:</u> Manage users</p>
	<p>If you are reading this far you already have at least 'View' access. To generate Inspection Reports contact your Director of Admin to request increased privileges. </p>
	<br><br><br>
	<font size='-1'>Maintained by the VPRI <a href='#'>Research Intelligence Office</a></font>
</div>
		

</body>
</html>